<!-- /*******************************************************************************
* Distributed Artificial Intelligence Laboratory TU Berlin.
* Wayfinding system (BACKEND & FRONTEND TEAM)
* All Rights Reserved.
********************************************************************************
* Filename    : PhotoCarousel.vue
* Description : 
*
* History
*-------------------------------------------------------------------------------
* Date                       Name                    Description of Change
* 30.01.2023                  Louis Ankel             imported Photos from ZEKI Lab for Carousel  
* 02.02.2023                  Louis Ankel             Photocarousel resized so it fits the upper screen -> quadratic look 
* 09.02.2023                  Louis Ankel             smaller photos for faster loading 
*-------------------------------------------------------------------------------
* Developers :  
                Louis Leon Ankel (@ltrou_7)
                Markus Thunig (@markust)
                Adrian Benjamin Brag (@adri.b.brag)
*******************************************************************************/ -->
<template>
      <div id="carouselDiv">
            <b-carousel
                  id="wholeCarousel"
                  :interval="5000"
                  no-touch
                  no-animation
            >
                  <b-carousel-slide>
                        <template #img>
                              <img
                                    class="d-block img-fluid w-100"
                                    src="../assets/Slideshow_Photos/ZEKILab (1).jpg"
                                    alt="image slot"
                              />
                        </template>
                  </b-carousel-slide>
                  <b-carousel-slide>
                        <template #img>
                              <img
                                    class="d-block img-fluid w-100"
                                    src="../assets/Slideshow_Photos/ZEKILab (2).jpg"
                                    alt="image slot"
                              />
                        </template>
                  </b-carousel-slide>
                  <b-carousel-slide>
                        <template #img>
                              <img
                                    class="d-block img-fluid w-100"
                                    src="../assets/Slideshow_Photos/ZEKILab (3).jpg"
                                    alt="image slot"
                              />
                        </template>
                  </b-carousel-slide>
                  <b-carousel-slide>
                        <template #img>
                              <img
                                    class="d-block img-fluid w-100"
                                    src="../assets/Slideshow_Photos/ZEKILab (4).jpg"
                                    alt="image slot"
                              />
                        </template> </b-carousel-slide
                  ><b-carousel-slide>
                        <template #img>
                              <img
                                    class="d-block img-fluid w-100"
                                    src="../assets/Slideshow_Photos/ZEKILab (5).jpg"
                                    alt="image slot"
                              />
                        </template> </b-carousel-slide
                  ><b-carousel-slide>
                        <template #img>
                              <img
                                    class="d-block img-fluid w-100"
                                    src="../assets/Slideshow_Photos/ZEKILab (6).jpg"
                                    alt="image slot"
                              />
                        </template> </b-carousel-slide
                  ><b-carousel-slide>
                        <template #img>
                              <img
                                    class="d-block img-fluid w-100"
                                    src="../assets/Slideshow_Photos/ZEKILab (7).jpg"
                                    alt="image slot"
                              />
                        </template> </b-carousel-slide
                  ><b-carousel-slide>
                        <template #img>
                              <img
                                    class="d-block img-fluid w-100"
                                    src="../assets/Slideshow_Photos/ZEKILab (8).jpg"
                                    alt="image slot"
                              />
                        </template> </b-carousel-slide
                  ><b-carousel-slide>
                        <template #img>
                              <img
                                    class="d-block img-fluid w-100"
                                    src="../assets/Slideshow_Photos/ZEKILab (9).jpg"
                                    alt="image slot"
                              />
                        </template> </b-carousel-slide
                  ><b-carousel-slide>
                        <template #img>
                              <img
                                    class="d-block img-fluid w-100"
                                    src="../assets/Slideshow_Photos/ZEKILab (10).jpg"
                                    alt="image slot"
                              />
                        </template> </b-carousel-slide
                  ><b-carousel-slide>
                        <template #img>
                              <img
                                    class="d-block img-fluid w-100"
                                    src="../assets/Slideshow_Photos/ZEKILab (11).jpg"
                                    alt="image slot"
                              />
                        </template> </b-carousel-slide
                  ><b-carousel-slide>
                        <template #img>
                              <img
                                    class="d-block img-fluid w-100"
                                    src="../assets/Slideshow_Photos/ZEKILab (12).jpg"
                                    alt="image slot"
                              />
                        </template> </b-carousel-slide
                  ><b-carousel-slide>
                        <template #img>
                              <img
                                    class="d-block img-fluid w-100"
                                    src="../assets/Slideshow_Photos/ZEKILab (13).jpg"
                                    alt="image slot"
                              />
                        </template> </b-carousel-slide
                  ><b-carousel-slide>
                        <template #img>
                              <img
                                    class="d-block img-fluid w-100"
                                    src="../assets/Slideshow_Photos/ZEKILab (14).jpg"
                                    alt="image slot"
                              />
                        </template> </b-carousel-slide
                  ><b-carousel-slide>
                        <template #img>
                              <img
                                    class="d-block img-fluid w-100"
                                    src="../assets/Slideshow_Photos/ZEKILab (15).jpg"
                                    alt="image slot"
                              />
                        </template> </b-carousel-slide
                  ><b-carousel-slide>
                        <template #img>
                              <img
                                    class="d-block img-fluid w-100"
                                    src="../assets/Slideshow_Photos/ZEKILab (16).jpg"
                                    alt="image slot"
                              />
                        </template> </b-carousel-slide
                  ><b-carousel-slide>
                        <template #img>
                              <img
                                    class="d-block img-fluid w-100"
                                    src="../assets/Slideshow_Photos/ZEKILab (17).jpg"
                                    alt="image slot"
                              />
                        </template>
                  </b-carousel-slide>
            </b-carousel>
      </div>
</template>

<script>
export default {
      name: "PhotoCarousel",
};
</script>

<style>
#carouselDiv {
      width: 70%;
      margin: auto;
}

#wholeCarousel {
      margin-top: 2em;
      border: 3px solid rgb(58, 58, 58);
      border-radius: 13px;
      overflow: hidden;
}

#explanationText {
      text-align: center;
      font-size: 1.3em;
}
</style>
